<div>
  <div class="main-div">
    <button id="yasam-agaci-nedir-btn" onclick="toggleTextVisibility()">
      Yaşam Ağacı Nedir?
    </button>
    <div class="btn-text-invisible" id="btn-text">
      <p>
        Yaşam Ağacı, Evrim Ağacı tarafından başlatılan ve Evrim Ağacı yazarları
        tarafından geliştirilen bir türler kataloğudur. Bu türler, evrimsel
        akrabalık ilişkilerine göre, filogenetik bir ağaç olarak
        gösterilmektedir. Dolayısıyla birbirine yakın dallarda bulunanlar daha
        yakın, uzak dallarda bulunan daha uzak akraba türlerdir. Dalların
        ucundaki isimlere tıklayarak, o takson ile ilgili bilgi alabileceğiniz
        içeriğimize gitmeniz mümkündür. Bu içerikler içinde, Evrim Ağacı
        bünyesinde çalışan gözlemci ve fotoğrafçılarımızın özgün gözlem ve
        fotoğraflarını görmeniz mümkün olacaktır.
      </p>
      <p>
        Yaşam Ağacı, sabit bir ağaç değildir; Evrim Ağacı üyesi olan doğa
        gözlemcilerimizin ve doğa fotoğrafçılarımızın yaptıkları gözlemler ve
        çektikleri fotoğraflara bağlı olarak zaman içinde gelişmekte,
        değişmekte, evrimleşmektedir. Dolayısıyla Yaşam Ağacı'na her
        uğradığınızda, yeni dalların oluştuğunu görebilirsiniz. Ayrıca proje
        yapım aşamasında olduğu için, dalların ve ara basamakların eksik
        olduğunu görebilirsiniz. Bu eksikler zaman içerisinde tamamlanacaktır.
      </p>

      <p>
        Dünya'da yaşayan ortalama 8.7 milyon ökaryotik, on milyonlarca
        prokaryotik canlı türü bulunmaktadır. Bu yaşayan türler, bugüne kadar
        yaşamış ve yok olmuş bütün türlerin %0.1 civarını oluşturmaktadır. Bu
        sayılar ışığında, Yaşam Ağacı projesinin ne kadar azimli, zorlu ve uzun
        dönem bir proje olduğunu anlamak mümkündür. Ancak amacımız, başta
        Türkiye'de bulunan türleri, Türkiye'deki doğa gözlemcilerimizin özgün
        tespitleriyle kategorize etmek, bir yandan da tüm Dünya'daki türleri
        yavaş yavaş Yaşam Ağacı'na eklemektir.
      </p>
      <p>
        Eğer siz de kendi gözlemlerinizi içerik olarak eklemek isterseniz,
        buraya tıklayarak gönderebilirsiniz.
      </p>
      <p>Umarız ülkemize faydalı bir çalışma olacaktır.</p>
      <p>
        <strong>Bilgi:</strong> Yaşam Ağacı; farklı dal bağlantılarına
        tıklandıkça ekranınıza sığamayacak büyüklüğe erişebilecek bir ağaç
        olduğu için, bu sayfada daha rahat hareket edebilmeniz için sayfa
        "sürüklenebilir yapıda" hazırlanmıştır. Herhangi bir yere tıklayıp,
        farenizi sürükleyerek sayfada gezinebilirsiniz.
      </p>
    </div>
  </div>
  <div id="d" class="d-normal">
    <form autocomplete="off">
      <div class="i-div">
        <input type="text" placeholder="Type to se arch..." id="input" />

        <ul id="list" class="list"></ul>
      </div>
      <a id="search-btn-link">Ara</a>
    </form>
    <ul class="table-list"></ul>
  </div>
</div>
